backend/n8n_workflow.json
{
  "name": "GeoInsight Analysis Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "geoinsight-analysis",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.body.address }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/neighborhood/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n      address: $json.body.address,\n      radius_m: $json.body.radius_m ? Number($json.body.radius_m) : 1000,\n      amenity_types: [\"restaurant\",\"cafe\",\"school\",\"hospital\",\"park\",\"supermarket\"],\n      include_buildings: false,\n      generate_map: true\n    } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "start-analysis",
      "name": "Start Analysis (FastAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 200]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Initial Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [860, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://backend:8000/api/tasks/' + $('Start Analysis (FastAPI)').item.json.task_id }}"
      },
      "name": "Poll Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "Is Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 380]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "name": "Retry Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1520, 480]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://backend:8000/api/neighborhood/' + $('Start Analysis (FastAPI)').item.json.analysis_id }}"
      },
      "name": "Get Full Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1520, 200]
    },
    {
      "parameters": {
        "jsCode": "const analysis = $input.item.json;\n\nconst address = analysis.address || 'your location';\nconst walkScore = analysis.walk_score ?? 'N/A';\nconst amenities = analysis.total_amenities ?? 0;\nconst greenPct = analysis.green_space_percentage != null\n  ? analysis.green_space_percentage + '%'\n  : 'N/A';\n\nconst body = `Hello,\n\nYour GeoInsight AI analysis for:\n📍 ${address}\n\nResults:\n\n🚶 Walk Score: ${walkScore}\n📍 Amenities: ${amenities}\n🌳 Green Space: ${greenPct}\n\nView full dashboard:\nhttp://localhost:8501\n\n— GeoInsight AI`;\n\nreturn [{\n  json: {\n    address,\n    walkScore,\n    amenities,\n    greenPct,\n    emailBody: body,\n    analysisId: $('Start Analysis (FastAPI)').item.json.analysis_id,\n    subject: `✅ GeoInsight Analysis Complete: ${address}`\n  }\n}];"
      },
      "name": "Format Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 200]
    },
    {
      "parameters": {
        "fromEmail": "email_id shou be here",
        "toEmail": "={{ $json.body?.email || 'test@example.com' }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.emailBody }}"
      },
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1960, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-creds",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "email_id should be here",
        "toEmail": "={{ $('Webhook Trigger').item.json.body.email || 'test@example.com' }}",
        "subject": " GeoInsight Analysis Failed",
        "text": "Your GeoInsight analysis failed. Please try again."
      },
      "name": "Send Failure Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1520, 320],
      "credentials": {
        "smtp": {
          "id": "smtp-creds",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'complete', address: $json.address, walk_score: $json.walkScore, amenities: $json.amenities, analysis_id: $json.analysisId, email_sent: true } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2180, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [
        [{ "node": "Start Analysis (FastAPI)", "type": "main", "index": 0 }],
        [{ "node": "Reject — No Address", "type": "main", "index": 0 }]
      ]
    },
    "Start Analysis (FastAPI)": {
      "main": [[{ "node": "Initial Wait", "type": "main", "index": 0 }]]
    },
    "Initial Wait": {
      "main": [[{ "node": "Poll Task Status", "type": "main", "index": 0 }]]
    },
    "Poll Task Status": {
      "main": [[{ "node": "Is Completed?", "type": "main", "index": 0 }]]
    },
    "Is Completed?": {
      "main": [
        [{ "node": "Get Full Results", "type": "main", "index": 0 }],
        [{ "node": "Is Failed?", "type": "main", "index": 0 }]
      ]
    },
    "Is Failed?": {
      "main": [
        [{ "node": "Send Failure Email", "type": "main", "index": 0 }],
        [{ "node": "Retry Wait", "type": "main", "index": 0 }]
      ]
    },
    "Retry Wait": {
      "main": [[{ "node": "Poll Task Status", "type": "main", "index": 0 }]]
    },
    "Get Full Results": {
      "main": [[{ "node": "Format Email Body", "type": "main", "index": 0 }]]
    },
    "Format Email Body": {
      "main": [[{ "node": "Send Success Email", "type": "main", "index": 0 }]]
    },
    "Send Success Email": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  }
}
